.game {
  display: grid;
  place-items: center;
  font-size: 28px;
  line-height: 50px;
  font-weight: 200;
}

.quote {
  margin: 0;
  min-height: 200px;
}

.attribution {
  justify-self: end;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  font-family: inherit;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  color: #333333;
  cursor: pointer;
}

.button:hover {
  border-color: #333;
  background-color: #f7f7f7;
}

.button:active {
  border-color: #333;
  background-color: #e6e6e6;
}

.buttons {
  margin-top: 60px;
}

.play-button,
.tweet-button,
.reroll-button,
.copy-button {
  composes: button;
}

@media only screen and (max-width: 550px) {
  .buttons {
    width: 100%;
  }

  .play-button,
  .tweet-button,
  .reroll-button,
  .copy-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}
