<h1 local-class="heading">
  <a
    href="https://de.wikipedia.org/wiki/Armin_Laschet#Kontroverse_um_ausgedachte_Noten"
    target="_blank"
    rel="noreferrer noopener"
  >
    Würfeln
  </a>
  mit Armin
</h1>

<WuerfelGame local-class="game" />